 <!DOCTYPE html>
 <html>
   <head>

     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">

     

     <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" type="text/css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/solarized-light.min.css" rel="stylesheet" />

     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.min.js"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/languages/java.min.js"></script>
     <script>hljs.initHighlightingOnLoad();</script>

     

     <style>
       

body 
{
  font-family: "Open Sans", "Helvetica", "Helvetica Neue",  "Arial", sans-serif;
}

figcaption
{
  margin-bottom: 20px;
}

.vertical-align
{
  display: flex;
  align-items: center;
}



     </style>

   </head>

  <body>
    

<style>
  

code
{
  font-family: "Monaco";
  font-size: 110%;
}

img
{
  padding:1px;
  border:1px solid black;
}

h1
{
  font-style:italic;
  font-size:130%;
  border-bottom:thin solid black;
}

h2
{
  font-size:110%;
  border-bottom: thin solid black;
}

h3
{
  font-size:100%;
  border-bottom: thin solid black;
}

body
{
  overflow-y: scroll;
}

.pushable > .pusher
{
  padding-bottom: 1.5rem;
}

.ui.segment.pushable
{
  margin: 0;
  padding: 1rem 0;
  overflow: visible;
}



</style>

<div class="ui fixed top pointing inverted stackable menu labmenu">
  <header class="header item">
    <i id="toc" class="sitemap icon"></i>
    <a href="../index.html">
       Timeline
    </a>
  </header>
  <div class="right tab-menu menu">
    
    <a class="item" data-tab="Lab-03">
      Lab-03
    </a>
    
    <a class="item" data-tab="01">
      01
    </a>
    
    <a class="item" data-tab="02">
      02
    </a>
    
    <a class="item" data-tab="03">
      03
    </a>
    
    <a class="item" data-tab="04">
      04
    </a>
    
    <a class="item" data-tab="Exercises">
      Exercises
    </a>
    
    <div class="item">
      
    </div>
  </div>
</div>

<div class="ui segment pushable">
  <div class="ui inverted labeled icon left inline vertical sidebar menu">
    
      
        <a class="item" href="../../topic01/book-a/index.html">
          Lab-01
        </a>
      
    
      
        <a class="item" href="../../topic02/book-a/index.html">
          Lab-02
        </a>
      
    
      
        <a class="active item" href="../../topic03/book-a/index.html">
          Lab-03
        </a>
      
    
      
        <a class="item" href="../../topic04/book-a/index.html">
          Lab-04
        </a>
      
    
      
        <a class="item" href="../../topic05/book-a/index.html">
          Lab-05
        </a>
      
    
      
        <a class="item" href="../../topic06/book-a/index.html">
          Lab-06
        </a>
      
    
      
        <a class="item" href="../../topic07/book-a/index.html">
          Lab-07
        </a>
      
    
      
        <a class="item" href="../../topic08/book-a/index.html">
          Lab-08
        </a>
      
    
      
        <a class="item" href="../../topic09/book-a/index.html">
          Lab-09
        </a>
      
    
  </div>
  <div class="pusher" tabindex="-1">
    <div class="ui basic segment">
      <br>
      
      <div  class="ui tab segment lab" data-tab="Lab-03">
        <h1>Objectives</h1>
<p>The Timeline content type allows you to place a sequence of events in a chronological order. For each event you may add images and texts. You may also include assets from Twitter, YouTube, Flickr, Vimeo, Google Maps and SoundCloud.</p>

      </div>
     
      <div  class="ui tab segment lab" data-tab="01">
        <h1>Lets get started</h1>
<p>All of the content types are available in <a href="https://h5p.org/content-types-and-applications" target="_blank">this link</a> </p>
<h2>H5P</h2>
<p>You will need to log on to H5P, available via <a href="https://h5p.org/" target="_blank">this link</a></p>
<h2>Timeline</h2>
<p>Click on the following content type</p>

      </div>
     
      <div  class="ui tab segment lab" data-tab="02">
        <h1>Tables, Lines and Images</h1>
<p>Tables can look like this:</p>
<table>
<thead>
<tr>
<th>Head 1</th>
<th>Head 2</th>
</tr>
</thead>
<tbody>
<tr>
<td>cell 1</td>
<td>cell 2</td>
</tr>
<tr>
<td>cell 3</td>
<td>cell 4</td>
</tr>
</tbody>
</table>
<hr>
<p>A horizontal rules above and below</p>
<hr>
<p>Some more images:</p>
<p><img src="img/01.jpg" alt=""></p>

      </div>
     
      <div  class="ui tab segment lab" data-tab="03">
        <h1>Links and Code Blocks</h1>
<p>You can inert links in bullet points:</p>
<ul>
<li><a href="http://github.com">http://github.com</a></li>
<li><a href="http://bitbucket.dom">http://bitbucket.dom</a></li>
</ul>
<p>You can also insert links to other steps:</p>
<ul>
<li><a href="#/01">Step 01</a></li>
<li><a href="#/02">Step 02</a></li>
<li><a href="#/03">Step 03</a></li>
<li><a href="#/04">Step 04</a></li>
</ul>
<p>More Code Block examples</p>
<pre><code>  publish(path, course) {
    const basePath = &#39;../&#39; + path + &#39;/&#39; + this.folder;
    futils.initEmptyPath(basePath);

    this.resources = this.talks.concat(this.labs);
    futils.copyFileToFolder(this.img, basePath);
    futils.writeFile(basePath + &#39;/index.html&#39;, nunjucks.render(&#39;topic.html&#39;, this));

    futils.writeFile(basePath + &#39;/ajaxlabel.html&#39;,
        nunjucks.render(&#39;ajaxlabel.html&#39;,
            { url: this.url.substring(5) + &#39;/&#39; + this.folder }));
    futils.writeFile(basePath + &#39;/indexmoodle.html&#39;, nunjucks.render(&#39;indexmoodle.html&#39;, this));

    console.log(this.title);
    this.publishTalks(basePath);
    this.publishLabs(basePath, course);
  }</code></pre>
<p>This was autodetected as javascript. This one is html:</p>
<pre><code>&lt;div class=&quot;ui segment pushable&quot;&gt;
  &lt;div class=&quot;ui inverted labeled icon left inline vertical sidebar menu&quot;&gt;
    {% for resource in course.allLabs.resources %}
      {% if resource.title == title %}
        &lt;a class=&quot;active item&quot; href=&quot;../../{{resource.parentFolder}}/{{resource.folder}}/{{resource.link}}&quot;&gt;
          {{resource.title}}
        &lt;/a&gt;
      {% else %}
        &lt;a class=&quot;item&quot; href=&quot;../../{{resource.parentFolder}}/{{resource.folder}}/{{resource.link}}&quot;&gt;
          {{resource.title}}
        &lt;/a&gt;
      {% endif %}
    {% endfor %}
  &lt;/div&gt;
  &lt;div class=&quot;pusher&quot;&gt;
    &lt;div class=&quot;ui basic segment&quot;&gt;
      &lt;br&gt;
      {% for chapter in chapters %}
      &lt;div  class=&quot;ui tab segment lab&quot; data-tab=&quot;{{chapter.shortTitle}}&quot;&gt;
        {{ chapter.content }}
      &lt;/div&gt;
     {% endfor %}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>

      </div>
     
      <div  class="ui tab segment lab" data-tab="04">
        <h1>Images</h1>
<p>Image without a title:</p>
<p><img src="img/04.jpg" alt=""></p>
<p>Image with a title:</p>
<p><img src="img/03.jpg" alt="This is a Stone Arch"></p>

      </div>
     
      <div  class="ui tab segment lab" data-tab="Exercises">
        <h1>Exercises &amp; Archives</h1>
<p>You can link to zipped archives:</p>
<ul>
<li><a href="./archives/archive.zip">Solutions</a></li>
</ul>
<p>This archive must be placed in the <code>archives</code> folder as shown above.</p>
<h2>Exercise 1:</h2>
<p>Instructions for exercise 1.</p>
<h2>Exercise 2:</h2>
<p>Instructions for exercise 2.</p>
<h2>Exercise 3:</h2>
<p>Instructions for exercise 3.</p>

      </div>
     
    </div>
  </div>
</div>
  <div class="ui bottom fixed borderless right menu">
    <div class="ui right tiny menu">
      <div class="ui mini message segment">
        @witctel.
        <a  href="http://creativecommons.org/licenses/by-nc/4.0/" title="External link to http://creativecommons.org/licenses/by-nc/4.0/"
            target="_blank">Creative Commons License
        </a>
      </div>
    </div>
  </div>

<script>
  $(document).on('keydown', function (e) {
  e = e || window.event;
  var nextTab;
  switch (e.which || e.keyCode) {
    case 37: // left
      nextTab = $('.tab-menu a[data-tab].active').prev('a[data-tab]');
      if (!nextTab.length) nextTab = $('.tab-menu a[data-tab]').last();
      nextTab.click();
      $('.pusher').focus();
      break;

    case 39: // right
      nextTab = $('.tab-menu a[data-tab].active').next('a[data-tab]');
      if (!nextTab.length) nextTab = $('.tab-menu a[data-tab]').first();
      nextTab.click();
      $('.pusher').focus();
      break;
  }
});

</script>

    <footer>

    </footer>
    <script>
      $(document).ready(function () {
  $('img').addClass('ui image');
  $('.ui.embed').embed();

  const $images = $('.lab img');
  jQuery.each($images, function (i) {
    if (($images[i].alt).length > 0) {
      const divImg = $(document.createElement('div')).addClass('ui basic segment');
      $($images[i]).wrap(divImg);
      const divLabel = $(document.createElement('div')).addClass('ui blue ribbon label');
      divLabel.append($images[i].alt);
      $(divLabel).insertBefore($images[i]);
    }
  });

  $('.ui.embed').embed();

  $('.ui.menu .item')
      .tab({
        history: true,
        historyType: 'hash',
      });

  $('.popup').popup();

  $('.ui.sidebar')
      .sidebar({ context: $('.pushable') })
      .sidebar('setting', 'transition', 'slide out')
      .sidebar('attach events', '#toc');
});

    </script>
  </body>

 </html>